/* @font-face {
    font-family: "Exwayer";
    src: url('../public/fonts//Exwayer-X3eqa.ttf');
} */

/* @font-face {
    font-family: "NuixyberPro";
    src: url('../public/fonts//NuixyberPro-Rpr03.ttf');
} */