@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

@font-face {
    font-family: "Galaksinos";
    src: url('../public/fonts//Galaksinos-RpOle.ttf');
}


:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --theme: #fbca1f;
}

body {
    font-family: var(--sm-font);
}

/* button */
.bg-primary {
    background-color: var(--theme) !important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 2px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
    background-color: var(--theme);
    color: #fff;
    border-color: var(--theme);
}

/* text color */
.text-primary {
    color: var(--theme) !important;
}

/* navbar */
.navbar {
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: Galaksinos;
    margin-top: 4px;
}

.nav-link:hover {
    color: var(--theme) !important;

}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* navbar end */

/* logo */
.logo {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 20px;
    border: 3px solid #000;
    color: #000;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.logo:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.logo:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

/* logo end*/

/* Navbar search*/
.Navcontainer {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.Navcheckbox:focus {
    border: none;
    outline: none;
}

.Navcheckbox:checked {
    right: 10px;
}

.Navcheckbox:checked~.mainbox {
    width: 50px;
}

.Navcheckbox:checked~.mainbox .search_input {
    width: 0;
    height: 0px;
}

.Navcheckbox:checked~.mainbox .iconContainer {
    padding-right: 4px;
}

.Navcheckbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: #f5f5f5;
    transition: all 0.3s ease;
}

.search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
    box-sizing: border-box;
    padding-top: 1px;
    width: fit-content;
    transition: all 0.3s ease;
}

.search_icon {
    box-sizing: border-box;
    fill: #f5f5f5;
    font-size: 1.3em;
}

/* Navbar search end*/

/*Dark-Mode Toggle*/
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Dark-Mode Toggle end*/


/* header */
#header {
    background: url(../public/images//headerimg.jpg) top/cover no-repeat;
}

.carousel-inner h1 {
    font-size: 60px;
    font-family: Galaksinos;
    letter-spacing: 5px;
}

.carousel-item .btn {
    border-color: #fff !important;
}

.carousel-item .btn:hover {
    border-color: var(--theme) !important;
}

.headerButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    scale: 0.9;
}

.headerButton:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
    scale: 1;
}

.headerButton:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

.headerSlogan {
    width: 30%;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.headerSlogan::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.headerSlogan:hover::after {
    transform: scale(4);
}

.headerSlogan:hover {
    border-color: #666666;
    background: #292929;
}

/* title */
.title h2 {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.title h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.title h2:hover::after {
    transform: scale(4);
}

.title h2:hover {
    border-color: #666666;
    background: #292929;
}


/* catalog */
.catalog {
    padding-top: 150px;
}

.active-filter-btn {
    background-color: var(--theme) !important;
    color: #fff !important;
    border-color: var(--theme) !important;
}

.filter-button-group .btn:hover {
    color: #fff !important;
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* adminbuttons */
.adminBtnDelete {
    border: none;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
    background-color: #c1121f;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #001219;
}

.adminBtnEdit {
    border: none;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
    background-color: #ffb703;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #001219;
}

.adminGoBackbtn{
    border: none;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
    background-color: #001219;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #001219;
}
.adminGoBackbtn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #001219;
}
.adminBtnDelete:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #001219;
}

.adminBtnEdit:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #001219;
}
/* editcss */
.editCard {
    box-sizing: border-box;
    width: 40rem;
    height: 30rem;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    /* text-align: center; */
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .editCard:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }

/* special */
.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 8px 20px !important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* offers */
#offers {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* about */
#about {
    background-color: rgba(179, 179, 179, 0.05);
}

/* newsletter */
#newsletter {
    background-color: rgba(179, 179, 179, 0.05);
}

#newsletter p {
    max-width: 600px;
}

#newsletter .input-group {
    max-width: 500px;
}

#newsletter .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#newsletter .btn {
    background-color: var(--theme);
    color: #fff;
    border-color: var(--theme);
}

#newsletter .btn:hover {
    background-color: #000;
    border-color: #000;
}

/* footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--theme) !important;
}

/* media queries */
@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}